# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.db
*.sqlite
*.sqlite3

# Node / React Native / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
